@CHARSET "ISO-8859-1";

.log-in{
    font-color: black;
    font-size:20px;
    float: right;
}

.top-links{
    background-color: #ffffff;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 100;
    
}

.button-background{
	margin-top:20%;
    background-color: white;
     background-size: contain;
    width: 100%;
    height: 1000px;
    border: none;

}
.image-display{
    
    width: 100%;
    height: 1000px;
    border: none;
}

.button-Top-Pets{
   
    width:70%;
    height: 150px;
    font-size: 40px;
    font-size: 6vw;
    margin-top: 30px;
    margin-left:15%;
    
    
}

.button-recentUploaded-Pets{
	    width:70%;
    height: 150px;
    font-size: 40px;
    font-size: 6vw;
    margin-top: 30px;
    margin-left:15%;
}


.select-Button-Background{
    
    width:70%;
    height:50px;
    font-size:15px;
    font-size:6vw;
    margin-top:65%;
    margin-left:15%;
    }
    
.movedown{
	height:120%;
}

a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline font-size:10px}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

.css-slideshow{
  position: relative;
  left:0px;
  max-width: 100%;
  height: auto;
  width: 100%;
 margin-top: 70px;
}
.css-slideshow figure{
  margin: 0;
  max-width: 100%;
  
  height: auto;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
  max-width: 100%;
  width: 100%;
  height: auto;
  
}

.css-slideshow-attr{
  max-width: 100%;
  height: auto;
  width: 100%;
  margin:0 auto;
}

.css-slideshow figure{
max-width: 100%;
width: 100%;
  height: auto;    
  opacity:0;
}
figure:nth-child(1) {
  animation:xfade 44s infinite;
  -webkit-animation:xfade 4250ms infinite;
}
figure:nth-child(2) {
  animation: xfade 24s infinite;
  -webkit-animation:xfade 8500ms infinite;
}
figure:nth-child(3) {
  animation: xfade 8s infinite;
  -webkit-animation:xfade 17000ms infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes xfade {
 0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

.dropbtn {
	margin-top:35%;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    min-width:82%;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
	margin-top:35%;
	margin-left:15%;
	min-width:82%;
}

.dropdown-content {
	
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 82%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	
	background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
	
    background-color: #3e8e41;
}
