html, body { background-color: #E6E3DF !important;
height: 100vh !important;}

p { text-indent: 20px;}

* { font-family: Tahoma;}

h1 {
	text-transform: uppercase;
	padding: 10px;
	border-left: 5px solid #E6E3DF;
}

a:hover{text-decoration: none !important;}


.btnd:focus,.btnd:active,.btnd.active,.btnd:focus:active {
	background-image: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Main ID to Center Web Page */
#wrap {
	max-width: 1100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Login Pop-up */

.login-div{
	width: 800px;
	height: 400px;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	position: fixed;
	z-index: 120;
	box-shadow: 3px 3px 3px 0px #a8a8a8;
	background-color: #939393;
	display: block;

}

.input-login{
	font-size:20px;
	text-align: left;
	line-height: 150%;
	padding-top: 100px;
    color: #E6E3DF;
	height:100%;
	width:400px; 
	margin-left: 50px;
	
}
.padding{
	margin-top:1%;
}


.text-box-background-login{
	background:#939393; 
	font-size: 15px;
	width: 290px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #E6E3DF;
	color: #E6E3DF;	
}
.text-box-background-create{
	background: transparent !important; 
	font-size: 15px;
	width: 290px;
	padding: 5px;
	line-height: 150%;
	margin: 5px;
	border: 1px solid #E6E3DF;
	color: #E6E3DF;
}

.input-Create-Account{
	margin-top: -50%;
	font-size:20px;
	float:right;
	padding-top:90px;
	padding-left: 50px;
	color: #E6E3DF;
	background: #898989;
	width: 400px;
	text-align: left;
	height:100%;
	
}
.text-box-font{
	font-family: tahoma;
	font-size:20px;
	color :black;
	

}

.close-button{
	margin-top: -110px;
	padding-left: 65px !important;
	float: right;
	height:100px;
	width:100px;
	border:none;
	
}


.submit-button-signIn{
	margin-left:48%;	
	margin-top:10%;
	background-color: #3f3f3f;
	color:white;
	height:40px;
	width:100px;
	text-transform: uppercase;
	font-size:14px;
	border:none;
	
}
.submit-button{
	margin-left:55%;	
	margin-top:6%;
	background-color: #2a2a2a;
	border:none;
	height:40px;
	width:100px;
	text-transform: uppercase;
	font-size:14px;
	color:white;
}


/* Header Properties */
.title {
	width: 1100px;
	height: 70px;
	position: fixed;
	z-index: 100;
	top: 0px;
	border: none;
	box-shadow: none;
	background-color: #E6E3DF;
}

.title-image {
	width: 150px;
	height: 50px;
	background-size: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-image: url("http://i.imgur.com/8ZHRgEs.png");
    background-repeat: no-repeat;
   
    
}
.title-image:hover{
	border: 2px solid #424242;
	
	text-decoration: none !important;
}

.title-log-in {
	border: 2px solid #080808;
	font-size: 12px !important;
	color: #FEFEFE !important;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -40px;
	text-transform: uppercase;
	background-color: #080808;
}

.title-log-in:hover {
	border: 2px solid #424242;
	background-color: #424242;
	text-decoration: none !important;
}

/* Drop Menu Properties */

/* First Level */

#menuwrapper{
	box-shadow: none;
}

#menuwrapper ul{
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
 	-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}


#menuwrapper ul,#menuwrapper ul li {
	margin-left: 5px;
	padding: 0;
	list-style: none;
}

#menuwrapper ul li {
	margin-top: -35px;
	background-color: transparent;
	width: 150px;
	padding-bottom: 10px;
	cursor: pointer;
 	-webkit-transition: all 0.13s;
 	-moz-transition: all 0.13s;
 	-ms-transition: all 0.13s;
  	-o-transition: all 0.13s;
 	transition: all 0.13s;
}

#menuwrapper ul li:hover {
	position: relative;
}

#menuwrapper ul li a {
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #080808 !important;
	display: inline-block;
	text-decoration: none;
}

/* Second Level */
#menuwrapper ul li ul {
	margin-top: 47px;
	margin-left: -155px;
	position: absolute;
	display: none;
	-webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	-webkit-transiton: opacity 0.13s;
 	-moz-transition: opacity 0.13s;
 	-ms-transition: opacity 0.13s;
 	-o-transition: opacity 0.13s;
 	-transition: opacity 0.13s;
}

#menuwrapper ul li:hover ul {
	left: 150px;
	top: 0px;
	display: block;
}

#menuwrapper ul li ul li {
	border-top: 1px solid #E2DED9;
	background-color: #CFCCC9;
	margin-top: 0px;
}

#menuwrapper ul li:hover ul li:hover {
	background-color: #E2DED9;
}

#menuwrapper ul li ul li a {
	color: #454444;
	display: inline-block;
	width: 120px;
}


/* Third Level */
#menuwrapper ul li:hover ul li ul {
	margin-top: -1px;
	margin-left: -5px;
	position: absolute;
	display: none;
	
	
}

#menuwrapper ul li:hover ul li:hover ul {
	display: block;
	left: 150px;
	top: 0;
}

#menuwrapper ul li:hover ul li:hover ul li {
	background-color: #CFCCC9;
	padding: 20px;
	width: 600px;
	height: auto;
}

#menuwrapper ul li:hover ul li:hover ul li:hover {
	background-color: #CFCCC9;
}

#menuwrapper ul li:hover ul li:hover ul li a {
	padding: 10px;
	}

#menuwrapper ul li:hover ul li:hover ul li a:hover {
	color: #E2DED9 !important;
}

.clear {
	clear: both;
}

/* Main Content Properties */
.content {
	width: 1100px;
	float: left;
	height: 100% !important;
    position: absolute;
	margin-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 300px;
	background-color: #ffffff;
	font-size: 20px;
	line-height: 180%;
}

.content-mainImage {
	overflow: hidden;
	height: auto;
	width: auto;
	max-width: 1100px;
	max-height: 100%;
}


/* Side Show Properties */
.content-slideshow {
	position: relative;
	left: 0px;
	width: 1100px;
	height: 600px !important;
	margin-top: 70px;
}

.content-slideshow figure {
	margin: 0;
	width: 1100px;
	height: 600px !important;
	background: #ffffff;
	position: absolute;
}

.content-slideshow img {
	width: 1100px;
	height: 600px !important;
}

.content-slideshow-attr {
	max-width: 100%;
	height: auto;
	width: 100%;
	margin: 0 auto;
}

.content-slideshow figure {
	max-width: 100%;
	width: 100%;
	height: auto;
	opacity: 0;
}

figure:nth-child(1) {
	animation: xfade 44s infinite;
	-webkit-animation: xfade 4250ms infinite;
}

figure:nth-child(2) {
	animation: xfade 24s infinite;
	-webkit-animation: xfade 8500ms infinite;
}

figure:nth-child(3) {
	animation: xfade 8s infinite;
	-webkit-animation: xfade 17000ms infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes xfade {
 0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}   