body{background-color: #E6E3DF !important;}

*{font-family: "Times New Roman";
}

.btnd:focus, .btnd:active, .btnd.active, .btnd:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* Main ID to Center Web Page */

#wrap { 
	max-width: 1100px; 
	display: block;
 	margin-left: auto;
 	margin-right: auto;
}


/* Header Properties */

.title{
	width: 1100px;
	height: 70px;
	position: fixed;
	z-index: 100;
	top: 0px;
	background-color: #E6E3DF;
	
}


.title-image{
	width:150px; 
	height: 38px; 
	display: block; 
	margin-left: auto;  
	margin-right: auto;
	margin-top: 20px;
}

.title-log-in{
	border: 2px solid #080808;
    font-size: 12px !important;
	color: #FEFEFE !important;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -40px;
    text-transform: uppercase;
    background-color: #080808;
}

.title-log-in:hover{
	border: 2px solid #C6C6C6;
    border-radius: 5px;
	background-color: #C6C6C6;
	text-decoration: none !important;
	}





#menuwrapper ul, #menuwrapper ul li{
    margin-left: 5px;
    padding:0;
    list-style:none;
}


#menuwrapper ul li{
	margin-top:-35px;
    background-color:transparent;
    width:150px;
    padding-bottom: 10px;
    cursor:pointer;
}

#menuwrapper ul li:hover{
    position:relative;
}

#menuwrapper ul li a{
    padding:5px 15px;
     padding-top:10px;
    padding-bottom:10px;
    color: #080808 !important;
    display:inline-block;
    text-decoration:none;
}

/**** SECOND LEVEL MENU ****/
#menuwrapper ul li ul{
	margin-top: 47px;
	margin-left: -155px;
    position:absolute;
    display:none;
}

#menuwrapper ul li:hover ul{
    left:150px;
    top:0px;
    display:block;
}

#menuwrapper ul li ul li{
	border-top: 1px solid #E2DED9;
    background-color:#CFCCC9;
    margin-top: 0px;
}

#menuwrapper ul li:hover ul li:hover{
    background-color:#E2DED9;
}

#menuwrapper ul li ul li a{
    color:#454444;
    display:inline-block;
    width:120px;
}

/**** THIRD LEVEL MENU ****/
#menuwrapper ul li:hover ul li ul{
	margin-top: 0px;
	margin-left: -5px;
    position:absolute;
    display:none;
}

/* We show the third level menu only when they hover the second level menu parent */
#menuwrapper ul li:hover ul li:hover ul{
    display:block;
    left:150px;
    top:0;
}

/* We change the background color for the level 3 submenu*/
#menuwrapper ul li:hover ul li:hover ul li{
    background-color:#CFCCC9;
}

/* We change the background color for the level 3 submenu when hovering the menu */

#menuwrapper ul li:hover ul li:hover ul li:hover{
    background-color:#E2DED9;
}

/* We change the level 3 link color */
#menuwrapper ul li:hover ul li:hover ul li a{
    color:#ffffff;
}

/* Clear float */
.clear{
    clear:both;
}





















.dropbtn {
    font-size: 15px !important;
	color: #080808 !important;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -55px;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
	margin-top: -3px;
	margin-left: 15px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}


/* Main Content Properties */

.content{
	width: 1100px;
	position: absolute;
	float: left;
	height: 100% !important;
	margin-top: 0px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	background-color: #ffffff;
	font-size: 15px;
	line-height: 180%;
}

.content-mainImage{
	overflow: hidden;
	height: auto; 
    width: auto; 
    max-width: 1100px; 
    max-height: 100%;
	
}


.content-button{
	inline: block;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
	align: center;
	background-color: #f2f2f2;
}    
    
    
    
/* Side Show Properties */   
    
.content-slideshow{
 	position: relative;
 	left:0px;
 	width: 1100px;
 	height: 600px !important;
	margin-top: 70px;
}

.content-slideshow figure{
	 margin: 0;
 	width: 1100px;
 	height: 600px !important;
 	background: #ffffff;
 	position: absolute;
}
.content-slideshow img{
 	width: 1100px;
 	height: 600px !important;
  
}

.content-slideshow-attr{
 	max-width: 100%;
 	height: auto;
 	width: 100%;
 	margin:0 auto;
}

.content-slideshow figure{	
	max-width: 100%;
	width: 100%;
 	height: auto;    
  	opacity:0;
}
figure:nth-child(1) {
 	animation:xfade 44s infinite;
 	-webkit-animation:xfade 4250ms infinite;
}
figure:nth-child(2) {
 	animation: xfade 24s infinite;
 	-webkit-animation:xfade 8500ms infinite;
}
figure:nth-child(3) {
	 animation: xfade 8s infinite;
 	-webkit-animation:xfade 17000ms infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes xfade {
 0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}    