.userIDLink:hover{
	color: #4169e1 !important;
}

button { outline: 0;
border: none;
 }


.likebutton{
	text-decoration: none;
	outline: 0;
}

.likebutton:a{
outline: 0;	
}


.reportButton{
	text-decoration: none;
	outline: 0 !important;
}

.reportButton:a{
outline: 0 !important;	
}


h2{
	font-size: 40px !important;
	text-transform: uppercase;
}
